@using EquipamentoEletronico.API.Models
@model EquipamentoModel

@{
    ViewData["Title"] = "Criar Equipamento";
}

<h1>Criar Novo Equipamento</h1>

<form method="post" asp-action="Criar">
    <div class="mb-3">
        <label for="Nome" class="form-label">Nome do Equipamento:</label>
        <input type="text" asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Tipo" class="form-label">Tipo do Equipamento:</label>
        <input type="text" asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="QtdEmEstoque" class="form-label">Quantidade em Estoque:</label>
        <input type="number" min="0" asp-for="QtdEmEstoque" class="form-control" />
        <span asp-validation-for="QtdEmEstoque" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-controller="Equipamento" asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>
