@using EquipamentoEletronico.Application.DTOs
@model EquipamentoDTO

<h2>Tem certeza que deseja deletar este equipamento?</h2>

<p><strong>Nome:</strong> @Model.Nome</p>
<p><strong>Tipo:</strong> @Model.Tipo</p>

<form method="post">
    <button type="submit">Confirmar</button>
</form>

<a href="@Url.Action("Index")">Cancelar</a>
