@using EquipamentoEletronico.API.Models
@model EquipamentoModel

@{
    ViewData["Title"] = "Editar Equipamento";
}

<h1>Editar Equipamento</h1>

<form asp-action="Editar" asp-controller="Equipamento" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="Nome">Nome:</label>
        <input type="text" asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Tipo">Tipo:</label>
        <input type="text" asp-for="Tipo" class="form-control" />
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="QtdEmEstoque">Quantidade em Estoque:</label>
        <input type="number" min="0" asp-for="QtdEmEstoque" class="form-control" />
        <span asp-validation-for="QtdEmEstoque" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary mt-3">Salvar</button>
        <a asp-action="Index" asp-controller="Equipamento" class="btn btn-secondary mt-3">Cancelar</a>
    </div>
</form>
