<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Equipamento Eletrônico MVC</h1>
        <p class="lead">Página home.</p>
        <div>
            <a href="@Url.Action("Index", "Equipamento")" class="btn btn-primary">MVC</a>
            <a href="@Url.Action("", "Swagger")" class="btn btn-success">Swagger</a>
        </div>
    </div>
</div>
